<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <p class="text-justify">Au dela d'être un vaillant developeur Web, j'ai d'autres cordes à mon arc. Je coécrit une chronique pour Radio Nova Lyon, Carément Week-end, avec Thomas Pons. J'ai aussi participé à la création et à l'ecriture d'un podcast confiné, 14H14. </p>
    <p class="text-justify">J'aime aussi la prise de parole en publique, et dans ce sens, je cherche toujours à étoffer mes connaissances en Webinar et autres techniques de presentation orale.</p>
    <p class="mb-0 text-justify">Par ailleurs, j'ai gardé de mon passé une passion pour le spectacle vivant, Théatre et Concert, ainsi que pour le Cinéma et la musique.</p>
  </div>
</section>
