<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Mathieu
        <span class="text-primary">Leblond</span>
      </h1>
      <div class="subheading mb-5">
        11 rue de Gerland 69007 Lyon · 0613510740 ·
        <a href="mailto:contact@mathieu-leblond.xyz">contact@mathieu-leblond.xyz</a>
      </div>
      <p class="lead mb-5 text-justify">Toujours avide de changements, j'ai décidé d'aborder un nouveau nouveau domaine professionnel. Ce sera donc le développement Web, après des expériences professionnelles aussi diverses que variées (décorateur de théâtre, technicien son et lumière, Régisseur général, entrepreneur dans l’alimentation, responsable de salle dans la restauration..).
        Après une formation intensive de developper Full Stack au Wagon à Lyon, j'ai ajouté à mes compétences acquises par le passé une composante développement et tech.
      J'aimerais associer ces nouveaux savoirs à mes expériences passées, la gestion de projet et de produit, la relation client et le management d'équipe. Ainsi, j'aimerai me diriger vers des postes de Product manager, Product Owner, Scrum master (formation en cours) ou développeur ruby/rails junior.</p>
      <div class="social-icons">
        <a class="social-icon" href="https://www.linkedin.com/in/mathieu-leblond/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="https://github.com/MathLebl/" target="_blank"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="https://www.instagram.com/ma_le_cv/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="experience">
    <div class="resume-section-content">
      <h2 class="mb-5">Experiences</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Développeur Full Stack et Management de Projet</h3>
          <div class="subheading mb-3">Freelance</div>
          <p class="text-justify">Poursuite du projet <strong>Polipédia</strong> <br>
           -> Project manager et développeur Full Stack<br>
           <br>
           Création du site de <strong>Contrepied Productions</strong>, maison de production<br>
           -> Création, Développeur Full Stack, Project Management avec le concours de <strong>La Locomotive</strong><br><br>
           Projet de création de <strong>La Locomotive</strong>,  un collectif de Freelancer issus de la formation du Wagon Lyon<br>
           -> Project Manager et Développeur Full Stack</p>
       </div>
       <div class="flex-shrink-0"><span class="text-primary">Mars 2020 - Aujourd'hui</span></div>
     </div>
     <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Responsable de salle</h3>
        <div class="subheading mb-3">My Petite Factory</div>
        <p class="text-justify">Au sein de cette jeune entreprise, j'ai eu la responsabilité de la clientèle, de la tenue de la salle de restauration et de la synergie entre les équipes.<br>
-> Gestion de la relation client. <br>
-> Fidélisation. <br>
-> Optimisation des process d’achat et d’organisation. <br>
-> Coordination équipe salle / équipe cuisine.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Octobre 2017 - Juillet 2019</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Fondateur et gérant d'entreprise</h3>
        <div class="subheading mb-3">Alchemist</div>
        <p class="text-justify">Création d'une société ayant pour but de fabriquer et de fournir des jus de fruits
          et légumes frais, sans conservateur ni pasteurisation, a partir de produits saints et bios.
          L'ambition est de proposer une boisson excellente tant au niveau du gout que d'un point de vu
          des critères de santé et d'éthique. <br>
<br>
-> Création et production des recettes et des jus <br>
-> Création, Dissolution et liquidation de la SARL  <br>
-> Création de la marque et de son univers visuel <br>
-> Etudes de marchés <br>
-> Etablissement d’un business model  <br>
-> Démarchage de clients <br>
-> Gestion de la relation client <br>
</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Mars 2015 - Aout 2017</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Régisseur général</h3>
        <div class="subheading mb-3">Comédie Odéon</div>
        <p class="text-justify">Régisseur général de la Comédie Odéon, café-théâtre lyonnais de 320 places. <br>
<br>
Dans le cadre de l’ouverture de cette salle: <br>
-> recrutement de l’équipe technique <br>
-> Mise en place des protocoles de travail. <br>
-> Suivit de la fin des travaux. <br>
-> Etablissement des partenariats de travail (prestataire, maintenance, sécurité). <br>
<br>
Puis dans la conduite du lieu : <br>
-> Responsabilité de l'exploitation du lieu. <br>
-> Participation au recrutement du personnel non technique. <br>
-> Encadrement et coordination du personnel. <br>
-> Gestion des projets et des équipes techniques. <br>
-> Accueil des artistes, productions et partenaires professionnels. <br>
</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Janvier 2013 - Fevier 2015</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Métiers du spectacle vivant</h3>
        <div class="subheading mb-3">Freelance / Intermittent</div>
        <p class="text-justify">Tenu des lieux dans les cafés-théâtres Le Boui Boui et Le Rideau Rouge <br>
  ->  Accueil et gestion du public. <br>
  -> Accueil des professionnels (Presse, équipes Techniques et Artistiques). <br>
  -> Gestion du lieu. <br>
  -> Animation de l’équipe. <br>
  -> Fidélisation de la clientèle. <br>
  -> Gestion administrative. <br>
<br>
Festival d’Avignon 2008 à 2013 <br>
Régisseur d’accueil au Palace (5 salles, 35 spectacles/jour) pendant la durée du festival <br>
  -> Travail au sein d'une équipe aux compétences complémentaires <br>
  -> Accueil et gestion du publique (salle de 310 places) <br>
  -> Accueil des artistes et des équipes techniques <br>
  -> Respect d'un planning très calibré (7 spectacles/salle/jour) <br>
 <br>
Organisation et gestion d’événement en tant que régisseur général : <br>
Soirées du 31 décembre (SC Productions) <br>
8 décembre, spectacle pour enfant autour de la lumière <br>
Tournées pour spectacles d’humour (SC Productions) <br>
Soirées évènementiels <br>
  -> Gestion de projets et d’équipes. <br>
  -> Accueil et gestion du public <br>
  -> Accueil des professionnels (Presse, équipes Techniques et Artistiques) <br>
  -> Recrutement <br>
  -> Encadrement et coordination du personnel <br>
  -> Gestion des plannings et de l’administratif <br>
  -> Régie son, lumière, plateau/conception et construction de décors <br>
</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
    </div>
  </div>
</section>
<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Le Wagon Lyon</h3>
        <div class="subheading mb-3">Full-Stack Web Developer(Batch #364) - Computer Programming</div>
        <div></div>
        <p class="text-justify">Bootcamp intensif de 9 semaines pour apprendre HTML, CSS, Bootstrap, JavaScript ES2015,
          SQL, git, GitHub, Heroku and Ruby on Rails. Developpement d'un clone d'Airbnb et
          d'un projet d'equipe <a href="http://www.polipedia.fr" target="_blank">Polipédia.fr.</a>
        </p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Janvier 2020 - Mars 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Grim Edif - Ecole Superieure Spectacle et Evenementiel</h3>
        <div class="subheading mb-3">technicien polyvalent du spectacle vivant</div>
        <p class="text-justify">Diplome de technicien polyvalent (son, lumière et art du plateau). Deuxième année de spécialisation en Plateau, Machinerie, Décoration, Pyrotechnie et Effets Spéciaux.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Septembre 2006 - Aout 2008</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Lycée Notre Dame de Mongré</h3>
        <div class="subheading mb-3">Baccalauréat Scientifique</div>
        <p class="text-justify">Baccalauréat scientifique, spécialité Mathématiques.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Mai 2004</span></div>
    </div>
  </div>
</section>
<hr class="m-0" />
<!-- Skills-->
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Languages de programation et outils</div>
    <ul class="list dev-icons fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        RUBY ON RAILS
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        HTML 5
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        CSS3
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        RUBY
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        GIT
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        JAVASCRIPT ES2015
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        SQL
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        HEROKU
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        ACTIVE ADMIN
      </li>
    </ul>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Methodes Agiles (Scrum & Kanban)
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        GitHub (project management)
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Heroku pipeline
      </li>
    </ul>
  </div>
</section>
<hr class="m-0" />
<!-- Interests-->
<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <p class="text-justify">Au dela d'être un vaillant developeur Web, j'ai d'autres cordes à mon arc. Je coécrit une chronique pour Radio Nova Lyon, Carément Week-end, avec Thomas Pons. J'ai aussi participé à la création et à l'ecriture d'un podcast confiné, 14H14. </p>
    <p class="text-justify">J'aime aussi la prise de parole en publique, et dans ce sens, je cherche toujours à étoffer mes connaissances en Webinar et autres techniques de presentation orale.</p>
    <p class="mb-0 text-justify">Par ailleurs, j'ai gardé de mon passé une passion pour le spectacle vivant, Théatre et Concert, ainsi que pour le Cinéma et la musique.</p>
  </div>
</section>
<hr class="m-0" />
<!-- Awards-->
<section class="resume-section" id="awards">
  <div class="resume-section-content">
    <h2 class="mb-5">Réalisations</h2>
    <ul class="fa-ul mb-0">
      <h3 class="subheading mb-3">Web</h3>
      <li>
        <span class="fa-li"><i class="fas fa-star text-warning"></i></span>
        <a href="http://www.polipedia.fr" class="font-weight-bolder" target="_blank">Polipédia.fr</a>
        <p class="text-justify">Projet dévelopé en equipe dans le cadre de ma formation au Wagon, Polipédia à l'ambition d'être un agrégateur d'information neutre à propos des élus français. (<a href="https://www.linkedin.com/feed/update/urn:li:activity:6665949511975870464/" target="_blank" class="font-italic">Voir la présentation vidéo ?</a>)</p>
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star text-warning"></i></span>
        <a href="https://www.contrepiedproductions.fr" class="font-weight-bolder" target="_blank">Contrepied Productions</a>
        <p class="text-justify">Site créé et dévelopé pour le compte de la société de production Contrepied avec le concours du collectif La Locomotive.</p>
      </li>
      <h3 class="subheading mb-3">Autre</h3>
      <li>
        <span class="fa-li"><i class="fas fa-star text-warning"></i></span>
        <a href="https://podcast.ausha.co/14h14" class="font-weight-bolder" target="_blank">14H14</a>
        <p class="text-justify">Podcast créé, ecrit, parfois interpreté et produit avec l'equipe de 14H14.</p>
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star text-warning"></i></span>
        <a href="https://www.nova.fr/radionova/carrement-weekend" class="font-weight-bolder" target="_blank">Carrément Weekend</a>
        <p class="text-justify">Chronique hebdomadaire pour Radio Nova Lyon en tant que Co-auteur.</p>
      </li>
    </ul>
  </div>
</section>
</div>
